

body {
    min-width: 500px;
    min-height: 500px;
    padding: 10px;
}

ul,
li {
    padding: 0;
    margin: 0;
}

#currentWeek {
    margin-bottom: 20px;
    background: #eee;
    padding: 5px;
    text-align: center;
}

.group {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.group:last-child {
    border: none;
    padding: 0;
    margin: 0;
}
.group .title {
    font-weight: bold;
    margin-bottom: 10px;
}
.group .content {
    padding-left: 20px;
}
.group .input {
    margin-bottom: 10px;
}
.group .input input {
    padding: 2px 5px;
    width: 200px;
}

#repoResult {
    display: flex;
}

#repoResult > div {
    width: 50%;
}

#repoList {
    margin-bottom: 20px;
}
#repoList a {
    cursor: pointer;
}

#linksList li {
    position: relative;
}
#linksList li > i {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
#linksList li > i:hover {
    color: red;
    font-weight: bold;
}